USE [Rental_Point]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 15.12.2022 11:09:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[surname] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[patronymic] [nvarchar](255) NULL,
	[series] [int] NULL,
	[nomer] [int] NULL,
	[birthday] [date] NULL,
	[address] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 15.12.2022 11:09:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[id] [int] NOT NULL,
	[surname] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[patronymic] [nvarchar](255) NULL,
	[login] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[id_post] [int] NULL,
	[photo] [nvarchar](150) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logins_system]    Script Date: 15.12.2022 11:09:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins_system](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_employees] [int] NULL,
	[date_time] [datetime] NULL,
	[id_input_type] [int] NULL,
 CONSTRAINT [PK_Logins_system] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 15.12.2022 11:09:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] NOT NULL,
	[datetime] [datetime] NULL,
	[client] [bigint] NULL,
	[staus] [int] NULL,
	[date_close] [date] NULL,
	[rental_time] [time](0) NULL,
	[employees] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_items]    Script Date: 15.12.2022 11:09:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_order] [int] NULL,
	[id_services] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_status]    Script Date: 15.12.2022 11:09:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_status](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Order_status] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 15.12.2022 11:09:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 15.12.2022 11:09:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[service_code] [nvarchar](255) NULL,
	[cost_hour] [int] NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_system]    Script Date: 15.12.2022 11:09:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_system](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Status_system] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([id], [surname], [name], [patronymic], [series], [nomer], [birthday], [address], [email]) VALUES (45462526, N'Фролов', N'Андрей', N'Иванович', 1180, 176596, CAST(N'2001-07-14' AS Date), N'344288, г. Екатеринбург, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com')
INSERT [dbo].[Customers] ([id], [surname], [name], [patronymic], [series], [nomer], [birthday], [address], [email]) VALUES (45462527, N'Николаев', N'Даниил', N'Всеволодович', 2280, 223523, CAST(N'2001-02-10' AS Date), N'614164, г. Екатеринбург, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com')
INSERT [dbo].[Customers] ([id], [surname], [name], [patronymic], [series], [nomer], [birthday], [address], [email]) VALUES (45462528, N'Снегирев', N'Макар', N'Иванович', 4560, 354155, CAST(N'1998-05-21' AS Date), N'394242, г. Екатеринбург, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
INSERT [dbo].[Employees] ([id], [surname], [name], [patronymic], [login], [password], [id_post], [photo]) VALUES (1, N'Иванов', N'Иван', N'Иванович', N'Ivanov@namecomp.ru', N'2L6KZG', 1, N'Иванов.jpeg')
INSERT [dbo].[Employees] ([id], [surname], [name], [patronymic], [login], [password], [id_post], [photo]) VALUES (2, N'Петров', N'Петр', N'Петрович', N'petrov@namecomp.ru', N'uzWC67', 1, N'Петров.jpeg')
INSERT [dbo].[Employees] ([id], [surname], [name], [patronymic], [login], [password], [id_post], [photo]) VALUES (3, N'Федоров', N'Федор', N'Федорович', N'fedorov@namecomp.ru', N'8ntwUp', 2, N'Федоров.jpeg')
GO
SET IDENTITY_INSERT [dbo].[Logins_system] ON 

INSERT [dbo].[Logins_system] ([id], [id_employees], [date_time], [id_input_type]) VALUES (1, 1, CAST(N'2022-05-15T13:13:00.000' AS DateTime), 1)
INSERT [dbo].[Logins_system] ([id], [id_employees], [date_time], [id_input_type]) VALUES (2, 2, CAST(N'2022-05-15T13:13:00.000' AS DateTime), 1)
INSERT [dbo].[Logins_system] ([id], [id_employees], [date_time], [id_input_type]) VALUES (3, 3, CAST(N'2022-05-15T13:13:00.000' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Logins_system] OFF
GO
INSERT [dbo].[Order] ([id], [datetime], [client], [staus], [date_close], [rental_time], [employees]) VALUES (1, CAST(N'2022-03-12T09:10:00.000' AS DateTime), 45462526, 1, NULL, CAST(N'02:00:00' AS Time), NULL)
INSERT [dbo].[Order] ([id], [datetime], [client], [staus], [date_close], [rental_time], [employees]) VALUES (2, CAST(N'2022-03-13T10:10:00.000' AS DateTime), 45462527, 2, NULL, CAST(N'10:00:00' AS Time), NULL)
INSERT [dbo].[Order] ([id], [datetime], [client], [staus], [date_close], [rental_time], [employees]) VALUES (3, CAST(N'2022-03-14T11:10:00.000' AS DateTime), 45462528, 2, NULL, CAST(N'02:00:00' AS Time), NULL)
GO
SET IDENTITY_INSERT [dbo].[Order_items] ON 

INSERT [dbo].[Order_items] ([id], [id_order], [id_services]) VALUES (1, 1, 34)
INSERT [dbo].[Order_items] ([id], [id_order], [id_services]) VALUES (2, 1, 31)
INSERT [dbo].[Order_items] ([id], [id_order], [id_services]) VALUES (3, 1, 353)
GO
SET IDENTITY_INSERT [dbo].[Order_items] OFF
GO
INSERT [dbo].[Order_status] ([id], [name]) VALUES (1, N'Новая')
INSERT [dbo].[Order_status] ([id], [name]) VALUES (2, N'В прокате')
INSERT [dbo].[Order_status] ([id], [name]) VALUES (3, N'Закрыта')
GO
INSERT [dbo].[Post] ([id], [name]) VALUES (1, N'Продавец')
INSERT [dbo].[Post] ([id], [name]) VALUES (2, N'Администратор')
INSERT [dbo].[Post] ([id], [name]) VALUES (3, N'Старший смены')
GO
INSERT [dbo].[Services] ([id], [name], [service_code], [cost_hour]) VALUES (31, N'Прокат опорного оборудования для катка', N'JUR8R', 500)
INSERT [dbo].[Services] ([id], [name], [service_code], [cost_hour]) VALUES (34, N'Обучение катанию на коньках', N'JKFBJ09', 1000)
INSERT [dbo].[Services] ([id], [name], [service_code], [cost_hour]) VALUES (35, N'Прокат Лыж детские с 30 по 34 размер, комплект  ', N'JUR8R21', 50)
GO
INSERT [dbo].[Status_system] ([id], [name]) VALUES (1, N'Успешно')
INSERT [dbo].[Status_system] ([id], [name]) VALUES (2, N'Неуспешно')
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Post] FOREIGN KEY([id_post])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Post]
GO
ALTER TABLE [dbo].[Logins_system]  WITH CHECK ADD  CONSTRAINT [FK_Logins_system_Employees] FOREIGN KEY([id_employees])
REFERENCES [dbo].[Employees] ([id])
GO
ALTER TABLE [dbo].[Logins_system] CHECK CONSTRAINT [FK_Logins_system_Employees]
GO
ALTER TABLE [dbo].[Logins_system]  WITH CHECK ADD  CONSTRAINT [FK_Logins_system_Status_system] FOREIGN KEY([id_input_type])
REFERENCES [dbo].[Status_system] ([id])
GO
ALTER TABLE [dbo].[Logins_system] CHECK CONSTRAINT [FK_Logins_system_Status_system]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customers] FOREIGN KEY([client])
REFERENCES [dbo].[Customers] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customers]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employees] FOREIGN KEY([employees])
REFERENCES [dbo].[Employees] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employees]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Order_status] FOREIGN KEY([staus])
REFERENCES [dbo].[Order_status] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Order_status]
GO
ALTER TABLE [dbo].[Order_items]  WITH CHECK ADD  CONSTRAINT [FK_Order_items_Order] FOREIGN KEY([id_order])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Order_items] CHECK CONSTRAINT [FK_Order_items_Order]
GO
ALTER TABLE [dbo].[Order_items]  WITH CHECK ADD  CONSTRAINT [FK_Order_items_Services] FOREIGN KEY([id_services])
REFERENCES [dbo].[Services] ([id])
GO
ALTER TABLE [dbo].[Order_items] CHECK CONSTRAINT [FK_Order_items_Services]
GO
